*{
	margin: 0 auto;
	padding: 0;
/*	background-color: bisque;*/
	background-color: darkslategrey;
/*	background-color: black;*/
	font-style: italic;
}

li{
	list-style: none;
}
a{
	text-decoration: none;
	
}

h1{
	color: yellowgreen;
	margin: 10px;
}

.header{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid darkblue;
	background-color: black;
}

.header ul, li, a{
	background-color: black;
}

.header ul{
	float: right;
	margin: 8px;
	display: flex;
}

.header li{
	margin: 8px;
}

.header a{
	color: #39FF14;
	font-size: 16px;
	transition: 0.5s;
}

.header a:hover{
	color: orangered;
	font-size: 17px;
}

table {
	width: 80%;
	border-collapse: collapse; /* Убираем двойные границы */
	margin: 0 auto;
	font-size: 14px;
	text-align: left;
}

/* Стили для заголовков таблицы */
thead th {
	background-color: #4CAF50; /* Зелёный цвет для заголовков */
	color: white; /* Белый текст */
	padding: 12px; /* Внутренние отступы */
}

/* Стили для строк таблицы */
tbody tr {
	border-bottom: 1px solid #dddddd; /* Нижняя граница у строк */
}

tbody tr:nth-child(even) {
	background-color: #f2f2f2; /* Заливка чётных строк для чередования */
}

tbody tr:hover {
	background-color: #ddd; /* Цвет при наведении на строку */
}

/* Стили для ячеек данных */
td {
	padding: 12px; /* Внутренние отступы */
	border-bottom: 1px solid #dddddd; /* Нижняя граница ячеек */
}

/* Выравнивание первой колонки с нумерацией по центру */
td:first-child {
	text-align: center;
}
