{% extends 'base.html' %}

{% block title %}
Sent
{% endblock %}

{% block content %}
<h1>Sent</h1>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Num</th>
                <th class="email-column">Email</th>
                <th>Name</th>
                <th>Domain</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="userTableBody">
        </tbody>
    </table>
  </div>

    <script>
        function updateTable() {
            fetch('/all-data') 
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('userTableBody');
                    tableBody.innerHTML = '';  
                    
                    let startIndex = data.length;

                    data.reverse().forEach((user, index) => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${startIndex - index}</td>
                            <td>${user[1]}</td>
                            <td class="email-column">${user[2]}</td>
                            <td>${user[3]}</td>
                            <td>${user[4]}</td>
                            <td>${user[5]}</td>
                        `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Ошибка:', error));
        }

        setInterval(updateTable, 1000);

        updateTable();
    </script>
</body>
</html>
{% endblock %}
